<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <!-- ACTION WINDOWS de CLIENTE -->
        <record id="action_taller_cliente" model="ir.actions.act_window">
            <field name="name">Cliente</field>
            <field name="type">ir.actions.act_window</field>
            <field name="res_model">taller.cliente</field>
            <field name="view_mode">tree,form,kanban</field>
            <field name="view_id" ref="view_taller_cliente_tree" />
        </record>

        <!-- ACTION WINDOWS de VEHICULO -->
        <record id="action_taller_vehiculo" model="ir.actions.act_window">
            <field name="name">Vehiculo</field>
            <field name="type">ir.actions.act_window</field>
            <field name="res_model">taller.vehiculo</field>
            <field name="view_mode">tree,form,kanban</field>
            <field name="view_id" ref="view_taller_vehiculo_tree" />
        </record>

        <!-- ACTION WINDOWS de EMPLEADO -->
        <record id="action_taller_empleado" model="ir.actions.act_window">
            <field name="name">Empleado</field>
            <field name="type">ir.actions.act_window</field>
            <field name="res_model">taller.empleado</field>
            <field name="view_mode">tree,form,kanban</field>
            <field name="view_id" ref="view_taller_empleado_tree" />
        </record>

        <!-- ACTION WINDOWS de PLANILLA HORARIA -->
        <record id="action_taller_planilla_horaria" model="ir.actions.act_window">
            <field name="name">Planilla horaria</field>
            <field name="type">ir.actions.act_window</field>
            <field name="res_model">taller.planilla_horaria</field>
            <field name="view_mode">tree,form,kanban</field>
            <field name="view_id" ref="view_taller_planilla_horaria_tree" />
        </record>


        <menuitem id="taller_main" name="Taller" sequence="1" web_icon="repositorio_aden,static/description/menu.png" />

        <menuitem id="taller_cliente" name="Clientes" parent="taller_main" sequence="1" />
        <menuitem id="taller_empleado" name="Empleados" parent="taller_main" sequence="1"/>

        <!-- MENU CLIENTE -->
        <menuitem id="taller_cliente_menu"
                  name="Cliente"
                  parent="taller_cliente" sequence="1"
                  action="action_taller_cliente" />
        <menuitem id="taller_vehiculo_menu"
                  name="Vehiculo"
                  parent="taller_cliente" sequence="1"
                  action="action_taller_vehiculo" />

        <!-- MENU EMPLEADO -->
        <menuitem id="taller_empleado_menu"
                  name="Empleado"
                  parent="taller_empleado" sequence="1"
                  action="action_taller_empleado" />
        <menuitem id="taller_planilla_horaria_menu"
                  name="Planilla Horaria"
                  parent="taller_empleado" sequence="1"
                  action="action_taller_planilla_horaria" />

    </data>
</odoo>